{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Add items
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form  method="POST" action="/add_item">
    <h2 class="form-signin-heading">Add items</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
    {{ wtf.form_field(form.price) }}
    {{ wtf.form_field(form.quantity) }}
    {{ wtf.form_field(form.total) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
  </form>

</div> <!-- /container -->
{% endblock %}